.main_sidenav {
  @apply min-h-screen min-w-[265px] shadow-sm bg-white relative;

  // .logo_dec {
  //   @apply flex justify-between items-center gap-2;
  // }

  .logo {
    @apply w-full text-2xl font-bold text-text px-4 py-4 border-b border-solid border-surface-100 sticky top-0 bg-white z-[100];
  }

  .nav_container {
    @apply flex flex-col justify-end h-[calc(100vh-64.8px)];

    .list {
      @apply list-none pl-[8px] mb-2;

      .items {
        @apply flex align-baseline cursor-pointer p-2 mx-2 my-1 rounded-md text-[14px] hover:text-primary transition-colors text-[#252f4a] no-underline font-normal;
      }

      .item_active {
        @apply bg-surface-50;
      }

      .groupHeader {
        @apply p-2 mx-2 mt-2 mb-1 no-underline text-[13px] text-primary-menu uppercase font-[600];
      }
    }
  }
}
